<!-- <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Forgot Password</h3>
  
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <div class="formGroup">
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
            (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
    </div>
  </div> -->

  <div class="bg">
  
  </div>
    
  <div class="main-div-card">
    <mat-card>
      <mat-card-title style="text-align: center;">
        <img src="assets/image/bus.gif" width="70%">
        <h2 style="margin-top: 5px;">Forgot Password</h2>
      </mat-card-title>
      <mat-card-content style="padding: 5px;">
        <form fxLayoutAlign="space-around stretch" fxLayout="column">
          <mat-form-field appearance="outline">
              <input matInput  placeholder="E-mail Anda" #passwordResetEmail>
              <mat-error>Masukkan E-mail Anda!</mat-error>
          </mat-form-field>
          <div fxLayoutAlign="space-evenly center" fxLayout="row">
              <button mat-raised-button color="primary" type="submit" (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
              <button mat-raised-button color="warn" (click)='navigate()'>Log In Page</button>
          </div>
      </form>
      </mat-card-content>
    </mat-card>
  </div>