.table-container{
    margin: auto;
    padding:50px;
    margin: auto;
    width: 75%;
}

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}
